---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=f7bc96d0f0951765b4ae26a3b02c8b48&lat=39.2814&lon=-106.1861&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.2814,"lon":-106.1861,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1634949512,"sunrise":1634908916,"sunset":1634948164,"temp":36.46,"feels_like":30.94,"pressure":1023,"humidity":25,"dew_point":6.96,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":6.91,"wind_deg":290,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1634949540,"precipitation":0},{"dt":1634949600,"precipitation":0},{"dt":1634949660,"precipitation":0},{"dt":1634949720,"precipitation":0},{"dt":1634949780,"precipitation":0},{"dt":1634949840,"precipitation":0},{"dt":1634949900,"precipitation":0},{"dt":1634949960,"precipitation":0},{"dt":1634950020,"precipitation":0},{"dt":1634950080,"precipitation":0},{"dt":1634950140,"precipitation":0},{"dt":1634950200,"precipitation":0},{"dt":1634950260,"precipitation":0},{"dt":1634950320,"precipitation":0},{"dt":1634950380,"precipitati[...]
