---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=f7bc96d0f0951765b4ae26a3b02c8b48&lat=39.2814&lon=-106.1861&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.2814,"lon":-106.1861,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1634925175,"sunrise":1634908916,"sunset":1634948164,"temp":37.78,"feels_like":31.86,"pressure":1027,"humidity":23,"dew_point":6.33,"uvi":4.17,"clouds":1,"visibility":10000,"wind_speed":8.05,"wind_deg":340,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1634925180,"precipitation":0},{"dt":1634925240,"precipitation":0},{"dt":1634925300,"precipitation":0},{"dt":1634925360,"precipitation":0},{"dt":1634925420,"precipitation":0},{"dt":1634925480,"precipitation":0},{"dt":1634925540,"precipitation":0},{"dt":1634925600,"precipitation":0},{"dt":1634925660,"precipitation":0},{"dt":1634925720,"precipitation":0},{"dt":1634925780,"precipitation":0},{"dt":1634925840,"precipitation":0},{"dt":1634925900,"precipitation":0},{"dt":1634925960,"precipitation":0},{"dt":1634926020,"precipitati[...]
