---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=f7bc96d0f0951765b4ae26a3b02c8b48&lat=39.2814&lon=-106.1861&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.2814,"lon":-106.1861,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1635013752,"sunrise":1634995380,"sunset":1635034484,"temp":36.48,"feels_like":29.12,"pressure":1015,"humidity":29,"dew_point":9.91,"uvi":3.07,"clouds":1,"visibility":10000,"wind_speed":10.36,"wind_deg":170,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1635013800,"precipitation":0},{"dt":1635013860,"precipitation":0},{"dt":1635013920,"precipitation":0},{"dt":1635013980,"precipitation":0},{"dt":1635014040,"precipitation":0},{"dt":1635014100,"precipitation":0},{"dt":1635014160,"precipitation":0},{"dt":1635014220,"precipitation":0},{"dt":1635014280,"precipitation":0},{"dt":1635014340,"precipitation":0},{"dt":1635014400,"precipitation":0},{"dt":1635014460,"precipitation":0},{"dt":1635014520,"precipitation":0},{"dt":1635014580,"precipitation":0},{"dt":1635014640,"precipitati[...]
[...]
