---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=f7bc96d0f0951765b4ae26a3b02c8b48&lat=39.2814&lon=-106.1861&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.2814,"lon":-106.1861,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1634937047,"sunrise":1634908916,"sunset":1634948164,"temp":43.32,"feels_like":37.62,"pressure":1023,"humidity":18,"dew_point":5.76,"uvi":3.19,"clouds":1,"visibility":10000,"wind_speed":10.36,"wind_deg":330,"wind_gust":18.41,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1634937060,"precipitation":0},{"dt":1634937120,"precipitation":0},{"dt":1634937180,"precipitation":0},{"dt":1634937240,"precipitation":0},{"dt":1634937300,"precipitation":0},{"dt":1634937360,"precipitation":0},{"dt":1634937420,"precipitation":0},{"dt":1634937480,"precipitation":0},{"dt":1634937540,"precipitation":0},{"dt":1634937600,"precipitation":0},{"dt":1634937660,"precipitation":0},{"dt":1634937720,"precipitation":0},{"dt":1634937780,"precipitation":0},{"dt":1634937840,"precipitation":0},{"dt":1634937900,"precipitati[...]
[...]
